#container_quiz {
    display: none;
}

.correct {
    width: 50px;
    height: auto;
}

.incorrect {
    width: 50px;
    height: auto;

}

.question {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: -100px;
}

#question_amount {
    width: 100px;
    font-size: 28px;
}

#question_name {
    position: relative;
    top: 350px;
    text-align: center;
    align-items: center;
}

#answers_container {
    position: absolute;
    bottom:60px;
    line-height: 50px;
}

#counter_container {
    display: block;
    position: absolute;
    top: 10px;
    text-align: center;
}

#counter_correct_container {
    display: block;
}

#counter_incorrect_container {
    position: relative;
    display: block;
    top: -50px;
    left: 100px;

}